<div id="header" class="container">
  <div class="row">
    <a href="/" class="nav-margin-sm">Home</a>
    <% if(user){ %>
     <a href="/logout " class="nav-margin-sm logged-out">Logout</a>
    <span class="nav-margin-sm current-user">Logged in as: <%= user.email %></span>
    <%} else {%>
      <a href="/login" class="nav-margin-sm">Login</a>
   <% } %>
  </div>
</div>