<html>
  <head>
    <% include partials/_head.ejs %>
  </head>
  <body class="prime-color">
  <% include partials/_header.ejs %>
  <div class="container">
    <% include partials/_posts.ejs %>
    
  </div>

    <% include partials/_footer.ejs %>
  </body>
</html>